$--jjext-color-secondary-app: #4e5969;
$--jjext-color-thirdly: #86909c;
$--jjext-color-primary: #1d2129;
$--jjext-color-base: #2b2d31ff;
$--jjext-color-base0: rgb(56, 58, 64);
$--jjext-color-base1: rgb(109, 111, 120);
$--jjext-color-base2: rgb(219, 222, 225);
$--jjext-color-base3: #1e1e1e;
$--header-primary: rgb(242, 243, 245);
$--text-muted: rgb(148, 155, 164);
$--li-hover: rgb(70 73 80);
$--user-int: #abcdef;
$--user-name1: rgb(46, 204, 113);
$--green-1: rgb(35, 165, 89);
$--warning: #f50;
$--emoji: rgb(255, 204, 77);
$--additive-border: rgb(88, 101, 242);
$--additive-bgc: rgba(88, 101, 242, 0.15);
$--blue: #108ee9;
$--green: #87d068;
$--cyan: #2db7f5;
$--red: #f50;
$--gold: #faad14;
$--lime: #a0d911;

.uni-input {
  color: #1d2129;
  width: auto;
  position: relative;
  overflow: hidden;
  flex: 1;
  line-height: 1;
  font-size: 14px;
  height: 35px;
  padding: 0 6px;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
}
